/* this is a css commnet*/

html{
    background-color: rgb(251, 251, 255);
    font-family: "Lucida Console", monospace;
}

head{
    margin: 50px 70px 25px 70px;
    font-size: 100px; 
}

body{
    margin: 0px 100px 25px 100px;
}

/*h1{

}*/

img{
    width: 300;
    height: 500;
}

/*.about-me{

}*/

.about-me p {
    text-indent: 50px;
}
/*.important-links{

}*/

.important-links p {
    text-indent: 50px; 
}
/*
.important-links .p2 li {

}*/










